bin/
ref/dist/
ref/source/
src/h264/dependencies
src/h264/objects
test/digests/
test/images/
test/reports/*/*.log
test/streams/
test/scripts/model/ldecod_Allegro.exe
test/scripts/model/wmfdecode_vc.exe
test/scripts/*.pyc
test/scripts/*/*.pyc
