bin/
ref/dist/
ref/source/
src/h264/dependencies
src/h264/objects
test/digests/
test/images/
test/reports/**/*.log
test/streams/
test/tools/model/ldecod_Allegro.exe
test/tools/model/wmfdecode_vc.exe
test/tools/**/*.pyc
